body{
    background-image: url('images/Screenshot from 2025-08-30 18-34-32.png');
}
section{
    text-align: center;
    
}
nav{
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 80px;
    color: white;
    background-color: black;
    list-style: none;
    
}
nav h1{
    text-align: center;
    font-size: 30px;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li{
    margin: 10px;

}
.home{
    background-color: darkgrey;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.home img{
    border-radius: 50%;
}
.about{
    background-color: gray;
}
.skills{
    background-color: darkgrey;
    list-style: none;
}
.projects{
    background-color: gray;
    
}
.contact{
    background-color: darkgrey;
}
section{
    padding: 15px;
    margin: 70px;
   
    border-radius: 20px;
}
#portfolio img{
    width: 60%;
}
